*.o
*.a
*.so
*~
*.userprefs
.DS_Store
*.suo
*.user
*.sln.docstates
*.userprefs
*.sdf
*.opensdf
*.csproj.bak
*.pri
*.nupkg
*.nuget.targets
*.nuget.props
.vs*/

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/
packages/
.idea/
/Urho3D/Urho3D_Android
/Urho3D/Urho3D_Mac
/Urho3D/Urho3D_IOS
/Urho3D/Urho3D_SharpReality
/Urho3D/Urho3D_UWP
/Urho3D/Urho3D_Linux
/Urho3D/Urho3D_Windows
clang+llvm-3.7.0-x86_64-apple-darwin*
/UpgradeLog.htm
/docsync.log
*.VC.opendb
*.VC.db
project.lock.json
/ProjectTemplates/SharpRealityVsix/ProjectTemplates
/ProjectTemplates/VSIX/ProjectTemplates
/Tests/Playgrounds/Playgrounds.NetCoreApp/CoreData.pak
/Tests/Playgrounds/Playgrounds.NetCoreApp/Urho3D.log
