*.o
*.a
*.so
*~
*.userprefs


# User-specific files
*.suo
*.user
*.sln.docstates
*.userprefs
*.sdf
*.opensdf


# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.vs*/

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/
/Samples/Build
/Samples/Android/Urho.Samples.Android/Assets
/Urho3D/Urho3D_Windows
/Urho3D/Urho3D_Android
/Urho3D/Urho3D_Mac
/Urho3D/Urho3D_IOS
