<Type Name="Context" FullName="Urho.Context">
  <TypeSignature Language="C#" Value="public class Context : Urho.RefCounted" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Context extends Urho.RefCounted" />
  <AssemblyInfo>
    <AssemblyName>Urho</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Urho.RefCounted</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            Urho3D execution context. Provides access to subsystems, object factories and attributes, and event receivers.
            </summary>
    <remarks>By default the empty constructors for nodes will create the objects in the current Context (Available in the <see cref="P:Urho.Application.CurrentContext" />).   </remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Context ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Preserve</AttributeName>
        </Attribute>
      </Attributes>
      <Parameters />
      <Docs>
        <summary>Construct.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Context (IntPtr handle);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(native int handle) cil managed" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Preserve</AttributeName>
        </Attribute>
      </Attributes>
      <Parameters>
        <Parameter Name="handle" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <param name="handle">Pointer to the raw unmanaged Urho object.</param>
        <summary>Constructs a new instance of Urho.Context, given a raw pointer to an unmanaged object</summary>
        <remarks>
          <para>This creates a new managed wrapper for the type using the raw pointer to an unmanaged object.</para>
          <para>Objects that are created in this fashion get registered with the UrhoSharp runtime.</para>
          <para>This is intended to be used by the UrhoSharp runtime, and is not intended to be used by users.</para>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected Context (Urho.UrhoObjectFlag emptyFlag);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig specialname rtspecialname instance void .ctor(valuetype Urho.UrhoObjectFlag emptyFlag) cil managed" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Preserve</AttributeName>
        </Attribute>
      </Attributes>
      <Parameters>
        <Parameter Name="emptyFlag" Type="Urho.UrhoObjectFlag" />
      </Parameters>
      <Docs>
        <param name="emptyFlag">Pass UrhoObjectFlag.Empty.</param>
        <summary>Empty constructor, chain to this constructor when you provide your own constructor that sets the handle field.</summary>
        <remarks>
          <para>This constructor should be invoked by your code if you provide your own constructor that sets the handle field.</para>
          <para>This essentially circumvents the default path that creates a new object and sets the handle and does not call RegisterObject on the target, you must do this on your own constructor.</para>
          <para>You would typically chain to this constructor from your own, and then set the handle to the unmanaged object from your code, and then register your object.</para>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="CopyBaseAttributes">
      <MemberSignature Language="C#" Value="public void CopyBaseAttributes (Urho.StringHash baseType, Urho.StringHash derivedType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void CopyBaseAttributes(valuetype Urho.StringHash baseType, valuetype Urho.StringHash derivedType) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="baseType" Type="Urho.StringHash" />
        <Parameter Name="derivedType" Type="Urho.StringHash" />
      </Parameters>
      <Docs>
        <param name="baseType">To be added.</param>
        <param name="derivedType">To be added.</param>
        <summary>
            Copy base class attributes to derived class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateObject">
      <MemberSignature Language="C#" Value="public Urho.UrhoObject CreateObject (Urho.StringHash objectType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class Urho.UrhoObject CreateObject(valuetype Urho.StringHash objectType) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Urho.UrhoObject</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="objectType" Type="Urho.StringHash" />
      </Parameters>
      <Docs>
        <param name="objectType">To be added.</param>
        <summary>
            Create an object by type hash. Return pointer to it or null if no factory found.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="EventHandler">
      <MemberSignature Language="C#" Value="public IntPtr EventHandler { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance native int EventHandler" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.IntPtr</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Return active event handler. Set by Object. Null outside event handling.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="EventSender">
      <MemberSignature Language="C#" Value="public Urho.UrhoObject EventSender { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Urho.UrhoObject EventSender" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Urho.UrhoObject</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Return active event sender. Null outside event handling.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetEventReceivers">
      <MemberSignature Language="C#" Value="public Urho.EventReceiverGroup GetEventReceivers (Urho.StringHash eventType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class Urho.EventReceiverGroup GetEventReceivers(valuetype Urho.StringHash eventType) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Urho.EventReceiverGroup</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventType" Type="Urho.StringHash" />
      </Parameters>
      <Docs>
        <param name="eventType">To be added.</param>
        <summary>Return event receivers for a sender and event type, or null if they do not exist.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetEventReceivers">
      <MemberSignature Language="C#" Value="public Urho.EventReceiverGroup GetEventReceivers (Urho.UrhoObject sender, Urho.StringHash eventType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class Urho.EventReceiverGroup GetEventReceivers(class Urho.UrhoObject sender, valuetype Urho.StringHash eventType) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Urho.EventReceiverGroup</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="sender" Type="Urho.UrhoObject" />
        <Parameter Name="eventType" Type="Urho.StringHash" />
      </Parameters>
      <Docs>
        <param name="sender">To be added.</param>
        <param name="eventType">To be added.</param>
        <summary>Return event receivers for an event type, or null if they do not exist.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetSubsystem">
      <MemberSignature Language="C#" Value="public Urho.UrhoObject GetSubsystem (Urho.StringHash type);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class Urho.UrhoObject GetSubsystem(valuetype Urho.StringHash type) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Urho.UrhoObject</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="type" Type="Urho.StringHash" />
      </Parameters>
      <Docs>
        <param name="type">To be added.</param>
        <summary>
            Return subsystem by type.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetTypeName">
      <MemberSignature Language="C#" Value="public string GetTypeName (Urho.StringHash objectType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string GetTypeName(valuetype Urho.StringHash objectType) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="objectType" Type="Urho.StringHash" />
      </Parameters>
      <Docs>
        <param name="objectType">To be added.</param>
        <summary>
            Return object type name from hash, or empty if unknown.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RegisterFactory">
      <MemberSignature Language="C#" Value="public void RegisterFactory (Urho.ObjectFactory factory);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RegisterFactory(class Urho.ObjectFactory factory) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="factory" Type="Urho.ObjectFactory" />
      </Parameters>
      <Docs>
        <param name="factory">To be added.</param>
        <summary>
            Register a factory for an object type.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RegisterSubsystem">
      <MemberSignature Language="C#" Value="public void RegisterSubsystem (Urho.UrhoObject subsystem);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RegisterSubsystem(class Urho.UrhoObject subsystem) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="subsystem" Type="Urho.UrhoObject" />
      </Parameters>
      <Docs>
        <param name="subsystem">To be added.</param>
        <summary>
            Register a subsystem.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ReleaseSDL">
      <MemberSignature Language="C#" Value="public void ReleaseSDL ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void ReleaseSDL() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Indicate that you are done with using SDL. Must be called after using RequireSDL().</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RemoveAllAttributes">
      <MemberSignature Language="C#" Value="public void RemoveAllAttributes (Urho.StringHash objectType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RemoveAllAttributes(valuetype Urho.StringHash objectType) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="objectType" Type="Urho.StringHash" />
      </Parameters>
      <Docs>
        <param name="objectType">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RemoveSubsystem">
      <MemberSignature Language="C#" Value="public void RemoveSubsystem (Urho.StringHash objectType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RemoveSubsystem(valuetype Urho.StringHash objectType) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="objectType" Type="Urho.StringHash" />
      </Parameters>
      <Docs>
        <param name="objectType">To be added.</param>
        <summary>
            Remove a subsystem.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RequireSDL">
      <MemberSignature Language="C#" Value="public bool RequireSDL (uint sdlFlags);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool RequireSDL(unsigned int32 sdlFlags) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="sdlFlags" Type="System.UInt32" />
      </Parameters>
      <Docs>
        <param name="sdlFlags">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, bool value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, bool value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, int value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, int32 value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="System.Int32" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to an integer value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, float value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, float32 value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="System.Single" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to an floating point value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, string value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, string value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to a string value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.Color value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.Color value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.Color" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to an <see cref="T:Urho.Color" /> value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.IntRect value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.IntRect value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.IntRect" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to an <see cref="T:Urho.IntRect" /> value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.IntVector2 value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.IntVector2 value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.IntVector2" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to an <see cref="T:Urho.IntVector2" /> value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.Matrix3x4 value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.Matrix3x4 value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.Matrix3x4" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>Set global variable with the respective key and value</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.Matrix4 value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.Matrix4 value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.Matrix4" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to an <see cref="T:Urho.Matrix4" /> value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.Quaternion value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.Quaternion value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.Quaternion" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to a <see cref="T:Urho.Quaternion" /> value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.Vector2 value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.Vector2 value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.Vector2" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to a <see cref="T:Urho.Vector2" /> value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.Vector3 value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.Vector3 value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.Vector3" />
      </Parameters>
      <Docs>
        <param name="key">To be added.aName of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to a <see cref="T:Urho.Vector3" /> value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetGlobalVar">
      <MemberSignature Language="C#" Value="public void SetGlobalVar (Urho.StringHash key, Urho.Vector4 value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetGlobalVar(valuetype Urho.StringHash key, valuetype Urho.Vector4 value) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="Urho.StringHash" />
        <Parameter Name="value" Type="Urho.Vector4" />
      </Parameters>
      <Docs>
        <param name="key">Name of the global variable to assign.</param>
        <param name="value">The value to assign to the global variable.</param>
        <summary>Sets an Urho global variable to <see cref="T:Urho.Vector4" /> value.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
